footer{
    padding: 2rem;
}

.f-container{
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.social{
    /* border: 1px solid; */
    padding: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 1.4rem;
    color: grey;
    display: inline;
}


.social img{
    margin-top: 4rem;
    height: 40px;
    margin: 5px;
    transition:  all 1s ease-out;
}

.social h3{
    color: rgb(58, 58, 58);
    padding-bottom: 0.4rem;
}

.f-item{
    width: 20%;
    line-height: 1.5;
}

.social img:hover{
    transform: scale(1.5);

}



@media screen and (max-width : 640px) {
    .f-container{
        flex-wrap: wrap;
    }
    
}
