.How-work{
    padding: 5rem;
    background-color: rgb(214, 212, 212);
}

/* Here is the main container  */
/* add transition */
.main-container3{
    border: 1px solid black;
    text-align: center;
    transform: scale(0.1);
    opacity: 0;
    transition: all 1s ease-out;

}


/* here is active class */
.active{
    opacity: 1;
    transform: scale(1);
}


.text-work{
    padding: 2rem;
}

.text-work h3{
    font-size: 2rem;

}

.text-work p{
    padding-top: 1rem;
}

.main-container3 .row2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}



.row2 hr{
    background-color: var(--Primary);
}

.iteam-row h3{
    padding: 10px;

}

.main-container3 a{
    text-decoration: none;
    font-size: 2rem;
    padding: 20px 20px;
    color: white;
    background-color: var(--Primary);
}



@media screen and (max-width:640px) {

    .row2{
        flex-direction: column;
    }
    
    .How-work{
        padding: 2rem;
    }

}